@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Damion&family=Short+Stack&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  max-height: -webkit-fill-available;
}

#app {
  height: 100%;
}

.underline-effect {
  &::before {
    content: "";
    @apply absolute inset-x-0 bottom-0 mx-auto;
    @apply border-b-2 border-current;
    @apply w-0 transition-width duration-100;
  }

  &:hover,
  &:focus,
  &.active {
    &::before {
      @apply w-full;
    }
  }
}

.dashed-underline {
  &::before {
    content: "";
    @apply absolute inset-x-0 bottom-0 mx-auto;
    @apply border-b border-dashed border-gray-500;
    @apply transition duration-200;
  }
}

.emptiable-text {
  &::before {
    content: "\200b";
  }
}
